# Admin credentials
ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD= # Change this to a secure password before deploying
# Django secret key
SECRET_KEY=django-insecure-nj!)h=7*5gul*l$$ivc_evql^@9g+s*#we8-gw(9zkurwa(n4j
DEFAULT_PASSWORD=password123
# URLS
PROJ01_URL= # Change this to your actual URL for PROJ01
PROJ02_URL= # Change this to your actual URL for PROJ02
# Telegram Bot credentials
TELEGRAM_BOT_TOKEN=762****838:A*************6AGN4
TELEGRAM_GROUPS=-1**********1,-1***********3
# Firebase credentials
FIREBASE_PROJECT_ID=syncup-*****b
SERVICE_ACCOUNT_FILE=firebase-service-account.json