{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row">
	<div class="col">
		<h2>Material Requests</h2>
	</div>
	<div class="col text-end">
		<a href="{% url 'material_request_add' %}" class="btn btn-primary btn-sm btn-curve" title="Add Material Request">
			<i class="fas fa-plus"></i></a>
	</div>
</div>

<table class="table table-striped table-bordered" id="material-request-table">
	<thead class="table-dark">
		<tr>
			<th>Name</th>
			<th>Type</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody class="two-col-form">
		{% for material_request in material_requests %}
		<tr onclick="window.location='{% url 'material_request_edit' material_request.id %}'" style="cursor: pointer;">
			<td>{{ material_request.name }}</td>
			<td>{{ material_request.get_type_display }}</td>
			<td>{{ material_request.get_status_display }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}

{% block script %}
<script>
$(document).ready( function () {
	$('#material-request-table').DataTable({
		"order": [],
		"columnDefs": [],
		"paging": true,
        "lengthChange": false,
        "searching": true,
        "ordering": true,
        });
});
</script>
{% endblock %}