{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row">
	<div class="col">
		<h2>Leads</h2>
	</div>
	<div class="col text-end">
		<a href="{% url 'lead_add' %}" class="btn btn-primary btn-sm btn-curve" title="Add Lead">
			<i class="fas fa-plus"></i></a>
	</div>
</div>

<table class="table table-striped table-bordered" id="lead-table">
	<thead class="table-dark">
		<tr>
			<th>Name</th>
			<th>Stage</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody class="two-col-form">
		{% for lead in leads %}
		<tr onclick="window.location='{% url 'lead_view' lead.id %}'" style="cursor: pointer;">
			<td>{{ lead.name }}</td>
			<td>{{ lead.get_project_stage_display }}</td>
			<td>{{ lead.get_status_display }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}

{% block script %}
<script>
$(document).ready( function () {
	var isMobile = window.innerWidth <= 768;
	$('#lead-table').DataTable({
		"order": [],
		"columnDefs": [],
		"paging": true,
        "lengthChange": !isMobile,
        "searching": true,
        "ordering": true,
        });
});
</script>
{% endblock %}