{% extends "base.html" %}
{% block title %}Add Worker{% endblock %}

{% block content %}

<div class="container-fluid">

    <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2">
            <div class="card shadow-sm">
                <div class="card-header fw-bold">
                    Add New Worker
                </div>
                <div class="card-body">

                    <form method="POST">
                        {% csrf_token %}

                        <div class="row g-3">

                            <div class="col-12 col-md-6">
                                <label class="form-label">Worker Code</label>
                                {{ form.worker_code }}
                            </div>

                            <div class="col-12 col-md-6">
                                <label class="form-label">Name</label>
                                {{ form.name }}
                            </div>

                            <div class="col-12 col-md-6">
                                <label class="form-label">Role</label>
                                {{ form.role }}
                            </div>

                            <div class="col-12 col-md-6">
                                <label class="form-label">Phone</label>
                                {{ form.phone }}
                            </div>

                            <div class="col-12 col-md-6">
                                <label class="form-label">Primary Pincode</label>
                                {{ form.primary_pincode }}
                            </div>

                            <div class="col-12 col-md-6">
                                <label class="form-label">Joined Date</label>
                                {{ form.joined_date }}
                            </div>

                        </div>

                        <div class="mt-4 text-end">
                            <a href="{% url 'worker_list' %}" class="btn btn-secondary me-2">
                                Cancel
                            </a>
                            <button type="submit" class="btn btn-success">
                                Save Worker
                            </button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}
